.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200000;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: -40px;
    margin-left: 100px;
    min-width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 200000;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}